@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Professor @ViewData["Professor"]</p>

<andress>
    <strong>For more information contact us by email</strong> <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=CllgCKHRMTRLMFdJtwcvZgSNQjhZWlwRfWbNkLdrnKfmXDXnNJnsfdxVMplTBSRdvHztvCkjxNV">michelinforh@gmail.com</a>

 </andress>
